#DATA SCIENCE THE FUTURE

##DATA IS THE FUTURE IS MY FINAL ASSESSMENT FOR THE MODULE 2 - TOOLS FOR DATA SCIENCE OF THE IBM PROFESSIONAL DATA SCIENCE CERTIFICATE

Some popular data science languages are - 
1. Python 
2. R 
3. Scala
4. C++
5. JAVA

Some popular data science libraries are - 
1. Matplotlib 
2. Numpy 
2. ggplot 
4. Pytorch 
5. Pandas

| Data Science Tools |  |  |
|:--------:|:--------:|:--------:|
|   Tableu |     |    |
|   Matplotlib |     |     |
|  Apache Spark  |     |   |

example of arithematic expression - 2 + 2 = 4

In [6]:
#This is a example of arithematic expression
(2+2)*3

12

In [10]:
#This will convert 200 minutes to hours by diving by 60.
minutes = 200
hour = minutes / 60
print (hour)

3.3333333333333335

List popular languages for Data Science
- Python
- R

##Author 
Shikhar